# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environments (virtual/conda)
venv/
.venv/
env/
ENV/

# Data (raw/processed/generated)
data/
data\processed/
data/processed/
*.csv
*.json

# Model outputs, large binaries, checkpoints, logs
results/
*.zip
*.log
*.h5
*.ckpt

# TensorBoard logs
tensorboard/
results/tensorboard/
*.tfevents.*

# System and IDE files
.DS_Store
Thumbs.db
.vscode/
*.swp